.app-popup {
  background-color: #fefefe;
  box-sizing: border-box;
  height: 100%;
  opacity: 1;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: all 150ms ease 0s, visibility 0s linear;
  width: 100%;
  z-index: 1000;

  .app-popup-header {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
    padding-top: 40px;

    .app-popup-header-close {
      color: #444;
      cursor: pointer;
      font-size: 48px;
      opacity: 1;
      transform: scale(1);
      transition: all 500ms ease 200ms;
    }
  }

  .app-popup-body {
    margin: 0 auto;
    max-width: 960px;
    padding: 20px 40px;
    transition: all 500ms ease 200ms;
  }
}

.app-popup.hidden {
  background-color: transparent;
  opacity: 0;
  transition: all 150ms ease 0s, visibility 0s linear 150ms;
  visibility: hidden;

  .app-popup-header {
    .app-popup-header-close {
      opacity: 0;
      transform: scale(0.8);
      transition: all 500ms ease;
    }
  }

  .app-popup-body {
    margin-top: 40px;
    transition: all 500ms ease;
  }
}

// Credits Styling
.credits-heading {
  cursor: default;
  text-align: center;
}

.credits-blurb {
  line-height: 1.5;
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
}

.credits-contributors, .credits-libraries {
  list-style: none;
  margin: 40px auto;
  max-width: 500px;
  padding: 0;

  li {
    border: 1px solid #fefefe;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: default;
    font-size: 14px;
    margin: 2px 0;
    padding: 10px 20px;
    transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
    width: 100%;

    .contributor-name {
      font-weight: 500;
    }

    .contributor-role {
      font-style: italic;
      font-weight: 400;
    }

    &:hover {
      border: 1px solid #ccc;
      box-shadow: 0 2px 12px 3px rgba(0, 0, 0, .1);
      padding: 15px 20px;
      transform: scale(1.2);
      transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;

      .contributor-right {
        md-icon {
          opacity: 1;
          transform: scale(1);
          transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
        }
      }
    }

    .contributor-left {
      display: inline-block;
      vertical-align: middle;
    }

    .contributor-right {
      float: right;
      vertical-align: middle;

      md-icon {
        font-size: 18px;
        opacity: 0;
        transform: scale(0.8);
        transition: all cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
      }
    }
  }
}

// Final Setup Styling
.app-popup-setup {
  padding-top: 40px;
}

.setup-description {
  line-height: 1.5;
  max-width: 600px;
}

.setup-input {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  margin: 5px 0;
  .setup-input-before {
    background-color: #aaa;
    color: #fefefe;
    display: inline-block;
    font-weight: bold;
    padding: 8px 10px;
    transition: background-color 150ms ease;

    &.correct {
      background-color: #27ae60;
      transition: background-color 150ms ease;
    }
  }
  input {
    background-color: transparent;
    border: none;
    display: inline-block;
    outline: none;
    padding: 8px 5px;
  }
}

.mmenu-nav-item {
  cursor: pointer;
  padding: 12px 40px;
  transition: all 150ms ease;
  vertical-align: middle;

  md-icon {
    font-size: 28px;
    vertical-align: middle;
  }
  span {
    font-weight: 500;
    margin-left: 10px;
    vertical-align: middle;
  }

  &:hover {
    background-color: #D8D8D8;
    transition: all 150ms ease;
  }
}

.mmenu-nav-head {
  display: inline-block;
  font-size: 14px;
  margin-left: 30px;
  margin-bottom: 10px;
}

.mmenu-nav-notif {
  cursor: pointer;
  padding: 10px 40px;
  transition: all 150ms ease;

  &:hover {
    background-color: #D8D8D8;
    transition: all 150ms ease;
  }

  md-icon {
    border: 2px solid #222;
    border-radius: 48px;
    display: inline-block;
    font-size: 32px;
    padding: 12px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    overflow: hidden;
    vertical-align: middle;
  }

  .pnotif-head {
    margin: 0;
    margin-bottom: 10px;

    .metadata {
      color: #666;
      font-size: 12px;
      vertical-align: middle;
    }
  }

  .pnotif-content {
    padding-top: 0;

    h4 {
      font-size: 14px;
      margin: 10px 0;
      padding: 0;
    }

    p {
      font-size: 13px;
      margin: 5px 0;
      padding: 0;
    }
  }
}
