<div class="admin-datatables">
    <div class="admin-datatable" *ngIf="announcementPages.indexOf(page) !== -1">
        <div class="admin-dt-announcement">
            <div>
                <app-announcement *ngFor="let announcement of data" [announcement]="announcement" mode="adminpanel"></app-announcement>
            </div>
        </div>
    </div>
    <div class="admin-datatable" *ngIf="tagPages.indexOf(page) !== -1">

    </div>
    <div class="admin-datatable" *ngIf="userPages.indexOf(page) !== -1">

    </div>
    <i *ngIf="!data.length" style="display: block; margin: 10px auto; color: #888; text-align: center;">Nothing to show.</i>
</div>
