<div class="admin-toolbar">
    <div class="admin-toolbar-actions">
        <div class="admin-toolbar-action admin-toolbar-checkbox">
            <md-checkbox></md-checkbox>
        </div>
        <div class="admin-toolbar-action">
            <md-icon>check</md-icon>
        </div>
        <div class="admin-toolbar-action">
            <md-icon>block</md-icon>
        </div>
        <div class="admin-toolbar-action">
            <md-icon>notifications</md-icon>
        </div>
    </div>
</div>
