<div class="container container-tight">
    <md-spinner [color]="primary" style="margin: 0 auto; width: 60px; height: 60px;" *ngIf="loading"></md-spinner>
    <td-message *ngIf="!announcement && !loading" label="Error" sublabel="Could not find announcement." color="primary" icon="warning" style="padding: 16px 5px;"></td-message>
    <td-message *ngIf="isHidden" label="Notice" sublabel="This announcement is pending approval. It will be hidden from all other users until an administrator approves your announcement." color="purple" icon="warning" style="padding: 16px 5px;"></td-message>
    <app-announcement [announcement]="announcement" *ngIf="announcement"></app-announcement>
    <br>
    <button md-button routerLink="/home" class="no-mobile">RETURN TO HOME PAGE</button>
    <div class="mobile-only btn-av-back" routerLink="/home"><md-icon>home</md-icon> BACK TO HOME PAGE</div>
</div>
