.admin-toolbar-actions {
  background-color: #F9F9F9;
  box-sizing: border-box;
  display: inline-block;
  height: 60px;
  padding: 0;
  min-width: 60px;

  .admin-toolbar-action {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    height: 60px;
    padding: 18px;
    width: 60px;
    transition: all 150ms ease;

    &.only-mobile {
      display: none;
    }

    &.admin-toolbar-checkbox {
      float: left;
      padding: 20px;

      md-checkbox {
        cursor: pointer;
        .mat-checkbox-layout {
          .mat-checkbox-inner-container {
            .mat-checkbox-frame {
              border-color: rgba(0, 0, 0, 0.54) !important;
            }
            .mat-checkbox-background {
              background-color: #ffc400 !important;
            }
          }
        }
      }
    }

    &:hover {
      background-color: #F0F0F0;
      transition: all 150ms ease;
    }
  }
}

@media (max-width: 960px) {
  .admin-toolbar-actions {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    height: 80px;
    padding: 10px 20px;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 99;

    .admin-toolbar-action {
      &.only-mobile {
        display: inline-block;
      }
    }
  }

  .admin-toolbar-action:hover {
    border-bottom: 8px solid #666;
    transition: all 150ms ease;
  }
}
