<div class="container container-tight">
    <h1>Privacy Policy</h1>
    <p>The Spartan Connect team values your privacy. For our users of the mobile app, no personal data will be collected at all. All user recommendations (favorite categories, selected grade level, etc.) are stored locally on the device. We ask our users on Android devices, however, to please note that the permissions granted upon installation are necessary for the app to run. No data is collected from or about the user using those permissions. We are working on removing them in the near future.</p>
    <p>For our teachers using our web application (this site), some key information will be stored upon first login with a Google account, including:</p>
    <ul>
        <li>Full name</li>
        <li>Email address</li>
        <li>Profile picture (from Google)</li>
    </ul>
    <p>In addition, whenever a user logs in, our web application will store a new date and time. This is so that administrators can accurately determine the usage of Spartan Connect over time.</p>
    <p>We hope that you enjoy using Spartan Connect.</p>
</div>
