// Import Material theme
@import '~@angular/material/theming';
@import 'src/spartan-theme.scss';

// White bar itself
header {
  background-color: $white;
  border-bottom: 1px solid $gray-light-2;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .1);
  box-sizing: border-box;
  height: 50px;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

// All the header contents should be here
.header-bar {
  margin: 0 auto;
  width: 960px;
}

@media (max-width: 960px) {
  .header-bar {
    width: auto;
  }
}


// Elements that float left go here
.header-bar-left {
  float: left;
}

.header-bar-right {
  float: right;
}

// Logo + Heading
.header-brand {
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  transition: all 150ms ease;

  .header-brand-logo {
    background-image: url('/assets/logo.png');
    background-size: 100%;
    float: left;
    height: 36px;
    margin: 7px 0;
    width: 36px;
  }
  .header-brand-name {
    box-sizing: border-box;
    float: right;
    font-weight: bold;
    height: 50px;
    margin-left: 10px;
    padding: 15px 0;

    &::-moz-selection{
      background-color: transparent;
      color: #000000;
    }

    &::selection {
      background-color: transparent;
      color: #000000;
    }
  }

  &:hover {
    background-color: #f1f1f1;
    transition: all 150ms ease;
  }
}

.header-notifications {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 10px;
  padding-top: 12px;
  position: relative;
  transition: all 150ms ease;
  vertical-align: top;

  md-icon {
    &::selection {
      background-color: transparent;
      color: #000000;
    }
    &::-moz-selection{
      background-color: transparent;
      color: #000000;
    }
  }

  &:hover {
    background-color: #f1f1f1;
    transition: all 150ms ease;
  }

  .badge {
    background-color: #E53935;
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    top: 27px;
    right: 8px;
  }

}

// User profile
.header-user {
  border-bottom: 4px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0 15px;
  transition: all 150ms ease;

  &:hover {
    background-color: #f1f1f1;
    transition: all 150ms ease;
  }

  .header-user-text {
    box-sizing: border-box;
    color: #4A4A4A;
    display: block;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 12px;
    padding-top: 16px;

    &::-moz-selection{
      background-color: transparent;
      color: #4A4A4A;
    }

    &::selection {
      background-color: transparent;
      color: #4A4A4A;
    }

    &.right {
      float: right;
      margin-left: 10px;
    }
  }

  .header-user-image {
    background-size: 100%;
    border-radius: 16px;
    float: left;
    height: 32px;
    margin-top: 8px;
    margin-bottom: 4px;
    width: 32px;
  }

  &.activated {
    background-color: #f1f1f1;
    border-bottom: 4px solid mat-color($spartan-app-primary);
    transition: all 150ms ease;
  }
}

// Popup when user profile is clicked on
.header-user-popup {
  background-color: #F0F0F0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  margin: 0;
  min-width: 240px;
  //min-height: 180px;
  padding: 0;
  position: fixed;
  right: calc((100% - 960px) / 2);
  opacity: 0;
  top: 45px;
  visibility: hidden;
  z-index: 100;
  transition: all 250ms ease;

  &.activated {
    top: 60px;
    opacity: 1;
    transition: visibility 0s, all 250ms ease;
    visibility: visible;
  }

  // This is the individual link in the popup
  .header-ep-dash {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 45px;
    overflow: hidden;
    transition: all 150ms ease;

    md-icon {
      vertical-align: middle;
      padding: 10px 15px;
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      background-color: #D8D8D8;
      transition: all 150ms ease;
    }

    &.activated {
      background-color: mat-color($spartan-app-primary);
      color: #F0F0F0;
      transition: all 150ms ease;
    }
  }
}

.header-notifications-popup {
  background-color: #F0F0F0;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.10);
  box-sizing: border-box;
  margin: 0;
  min-width: 480px;
  //min-height: 180px;
  padding: 5px;
  position: fixed;
  right: calc((100% - 960px) / 2);
  opacity: 0;
  top: 45px;
  visibility: hidden;
  z-index: 100;
  transition: all 250ms ease;

  &.activated {
    top: 60px;
    opacity: 1;
    transition: visibility 0s, all 250ms ease;
    visibility: visible;
  }

  .header-popup-notif {
    background-color: #FEFEFE;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
    border-radius: 4px;
    cursor: pointer;
    margin: 5px 20px;
  }

  .pnotif-head {
    margin: 0;
    padding: 8px 12px;

    md-icon {
      font-size: 18px;
      vertical-align: middle;
    }

    .metadata {
      color: #aaa;
      font-size: 13px;
      margin-left: 6px;
      vertical-align: middle;
    }
  }

  &:hover {
    .pnotif-content h4 {
      text-decoration: underline;
    }
  }

  .pnotif-content {
    padding: 10px 12px;
    padding-top: 0;

    h4 {
      font-size: 14px;
      margin: 5px 0;
      padding: 0;
    }

    p {
      font-size: 13px;
      margin: 5px 0;
      padding: 0;
    }
  }
}

div.dim-container {
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

span.dim, i.dim {
  display: inline-block;
  color: #aaa;
  font-size: 14px;
}

@media (max-width: 960px) {
  .no-mobile {
    display: none;
  }
}
