<header>
    <div class="header-bar-heading" (click)="redirectToHome()">
        <img width="80" src="/assets/logo.png" />
        <div class="header-bar-text">
            <h3>La Cañada High School</h3>
            <h1><span class="color-text-primary">Spartan</span> <span class="color-text-accent">Connect</span></h1>
        </div>
    </div>
    <nav class="header-bar-nav">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/me" routerLinkActive="active" *ngIf="authUser.isAuthenticated">User Panel</a>
        <a routerLink="/admin" routerLinkActive="active" *ngIf="authUser.isAuthenticated && authUser.rank <= 2">Admin Panel</a>
        <a (click)="logout()" *ngIf="authUser.isAuthenticated">Log Out</a>
        <a (click)="login()" routerLinkActive="active" *ngIf="!authUser.isAuthenticated">Log In</a>
    </nav>
</header>
