<app-spotlight-card *ngIf="loading" style="margin-top: 40px;">
    <h1 class="card-spotlight-emoji"><md-icon>swap_vertical_circle</md-icon></h1>
    <h3 *ngIf="!isDesktop">Redirecting you to the download page...</h3>
    <h3 *ngIf="isDesktop">Spartan Connect on Mobile!</h3>
    <div content>
        <p *ngIf="!isDesktop">
            If you are not redirected within a few moments, you can click on <a href="http://itunes.apple.com/us/app/spartan-connect/id1257927264?mt=8">here</a> to go to the Apple Store or <a href="market://details?id=com.spartanconnect.SpartanConnect">here</a> to go to the Play Store.
        </p>
        <p *ngIf="isDesktop">
            Spartan Connect is available in both the Apple App Store and the Google Play Store. Please go <a href="http://itunes.apple.com/us/app/spartan-connect/id1257927264?mt=8">here</a> to go to the Apple Store or <a href="market://details?id=com.spartanconnect.SpartanConnect">here</a> to go to the Play Store.
        </p>
        <div style="vertical-align:middle;" href="http://itunes.apple.com/us/app/spartan-connect/id1257927264?mt=8">
            <a target="_blank">
                <img style="vertical-align:middle;" height="54" alt='Download on the App Store' src='./assets/apple_badge.png'/>
            </a>
            <a target="_blank" href='https://play.google.com/store/apps/details?id=com.spartanconnect.SpartanConnect&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img style="vertical-align:middle;" height="80" alt='Get it on Google Play' src='./assets/google_play_badge.png'/>
            </a>
        </div><br>
        <button md-raised-button *ngIf="isDesktop" routerLink="/home">RETURN TO HOME PAGE</button>
    </div>
</app-spotlight-card>
