<div style="padding-top: 20px;">
    <div class="card-spotlight" *ngIf="!currentUser.isAuthenticated">
        <h1 class="card-spotlight-emoji">👋</h1>
        <h3>Say goodbye to PA announcements.</h3>
        <p>
            You don't deserve to listen to minutes of boring announcements. With Spartan Connect, you can tune out the ones you don't care about
            and stay connected to the rest. Download our announcements app today on the App Store or on the Play Store.
        </p><br>
        <button md-raised-button routerLink="/login">SIGN UP TODAY</button>
    </div>
</div>
<div class="index-body">
    <div class="index-body-categories">
        <h3 class="heading">Categories</h3>
        <ul class="index-body-categories-list">
            <li *ngFor="let category of categories" (click)="switchCategoryFilter(category.id)" [class.active]="categoryFilter === category.id">{{category.name}}</li>
            <li *ngIf="categoryFilter" (click)="switchCategoryFilter(0)">View All</li>
        </ul>
        <br>
        <small routerLink="/view/archived" style="display: inline-block; padding: 10px 10px; cursor: pointer; color: #999;" *ngIf="announcements.length">View Archive</small>
    </div>

    <div class="index-body-announcements">
        <div *ngFor="let category of categories">
            <div *ngIf="!sortedAnnouncements[category.slug].length && category.id === categoryFilter">
                <br>
                <td-message *ngIf="!sortedAnnouncements[category.slug].length && category.id === categoryFilter" label="Notice" sublabel="Could not find an announcement with the selected category. Please try again by selecting another category." color="primary" icon="warning" style="padding: 16px 5px;"></td-message>
            </div>
            <div *ngIf="(category.id === categoryFilter || !categoryFilter) && sortedAnnouncements[category.slug].length">
                <h2 style="padding: 10px 20px;">{{category.name}}</h2>
                <div *ngFor="let announcement of sortedAnnouncements[category.slug]">
                    <span>{{announcement.name}}</span>
                    <app-announcement mode="compact" [announcement]="announcement" [routerLink]="['/view', announcement.id]"></app-announcement>
                </div>
            </div>
        </div>
    </div>
</div>
