<div style="container container-tight">
    <md-card class="card-announcement" *ngFor="let announcement of announcements">
        <md-card-header>
            <div md-card-avatar class="example-header-image" style="background-image:url('http://via.placeholder.com/40/b71c1c/ffffff')"></div>
            <md-card-title>{{announcement.author}}</md-card-title>
            <md-card-subtitle>created this some time ago</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <h3>{{announcement.title}}</h3>
            <p>{{announcement.description}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-button>READ MORE</button>
            <button md-button>EDIT</button>
        </md-card-actions>
    </md-card>
</div>
