<div class="container container-tight">
    <div>
        <h3 style="display: block; margin: 12px 0;">Admin Panel</h3>
    </div>
    <td-message label="Notice" sublabel="Please keep in mind that the current frontend does not retrieve any data from our backend API, which means that all of the data you see here is not real." color="blue" icon="warning" style="padding: 16px 5px;"></td-message>
    <br>
    <md-divider></md-divider>
    <div style="max-width: 960px;">
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm" style="width: 100%;">
          <!-- ACTION BUTTONS: START -->
          <span *ngIf="!searchBox.searchVisible && this.selectedColumns === this.announcementColumns" style="float: right;">
            <button md-icon-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">
                <md-icon mdTooltip="Approve" *ngIf="selectedRows.length <= 1">done</md-icon>
                <md-icon mdTooltip="Approve" *ngIf="selectedRows.length > 1">done_all</md-icon>
            </button>
            <button md-icon-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">
                <md-icon mdTooltip="Deny">remove_circle_outline</md-icon>
            </button>
            <button md-icon-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">
                <md-icon mdTooltip="Set Urgent">add_alert</md-icon>
            </button>
          </span>
          <span *ngIf="!searchBox.searchVisible && this.selectedColumns === this.tagColumns" style="float: right;">
            <button md-icon-button [disabled]="selectedRows.length !== 1" (click)="openConfirmDialog()">
                <md-icon mdTooltip="Edit" *ngIf="selectedRows.length <= 1">mode_edit</md-icon>
                <md-icon mdTooltip="Cannot edit multiple tags" *ngIf="selectedRows.length > 1">mode_edit</md-icon>
            </button>
            <button md-icon-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">
                <md-icon mdTooltip="Archive (Move to Trash)">archive</md-icon>
            </button>
          </span>
          <span *ngIf="!searchBox.searchVisible && this.selectedColumns === this.userColumns" style="float: right;">
            <button md-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">

            </button>
            <button md-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">

            </button>
            <button md-button [disabled]="!selectedRows.length" (click)="openConfirmDialog()">

            </button>
          </span>
          <!-- BUTTONS: END -->
          <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
            <span *ngIf="selectedRows.length" class="md-body-1">{{selectedRows.length}} row(s) selected</span>
          </span>
          <td-search-box #searchBox backIcon="arrow_back" class="push-right-sm" placeholder="Search here" (searchDebounce)="search($event)" flex>
          </td-search-box>
          <md-menu #appMenu="mdMenu">
            <button md-menu-item (click)="setTableData(this.unapprovedAnnouncements, this.announcementColumns)">View Unapproved</button>
            <button md-menu-item (click)="setTableData(this.approvedAnnouncements, this.announcementColumns)">View Approved</button>
            <button md-menu-item (click)="setTableData(this.totalTags, this.tagColumns)">View Tags</button>
            <button md-menu-item (click)="setTableData(this.totalUsers, this.userColumns)">View Users</button>
          </md-menu>
          <button md-icon-button [mdMenuTriggerFor]="appMenu">
             <md-icon>more_vert</md-icon>
          </button>
        </div>
        <td-data-table
          #dataTable
          [data]="filteredData"
          [columns]="selectedColumns"
          [selectable]="true"
          [multiple]="true"
          [clickable]="true"
          [sortable]="true"
          [sortBy]="sortBy"
          [sortOrder]="sortOrder"
          [(ngModel)]="selectedRows"
          (rowClick)="openInfoDialog($event)"
          (sortChange)="sort($event)"
        >
        </td-data-table>
        <md-divider></md-divider>
        <td-paging-bar #pagingBar [pageSizes]="[5, 10, 15, 20, 100, 200]" [total]="filteredTotal" (change)="page($event)">
          <span td-paging-bar-label hide-xs>Row per page:</span>
          {{pagingBar.range}} <span hide-xs>of {{pagingBar.total}}</span>
        </td-paging-bar>
    </div>
    <md-divider></md-divider>
</div>
