.card-spotlight {
  background-color: #fefefe;
  border-radius: 4px;
  cursor: default;
  margin: 10px auto;
  margin-top: 20px;
  max-width: 600px;
  padding: 20px 60px;
  text-align: center;
}
/*
.card-spotlight-emoji {
  h1 {
    font-size: 48px;
    margin: 20px 0;

    md-icon {
      font-size: 48px;  // force 48px on md-icon
    }
  }
}

.card-spotlight-title {
  font-size: 16px;
  h3 {
    margin: 5px 0;
    padding: 0;
  }
}

.card-spotlight-description {
  font-size: 14px;
  line-height: 1.35;

  p {
    margin: 10px 0;
    padding: 0;
  }
}
*/
